[Desktop Entry]
Type=Application
Version=1.0
Name=Zenek i Gienek przejmują władzę nad światem
Exec=zenekgienek
Comment=
Icon=zenekgienek
Terminal=false
Categories=Game;ArcadeGame;
